.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-grid {
  display: flex;
}

.Class-component-logo {
  width: 100%;
}

.button {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #2563eb;
  border-radius: 0.375rem;
}

.button:hover {
  background-color: #1d4ed8;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #2563eb;
  opacity: 0.75;
}

.centered {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
  position: fixed;
  top: 200px;
  right: 0;
  bottom: 0;
  left: 250px;
  z-index: 10;
  overflow-y: auto;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow-y: auto;
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.span {
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
}

.transition {
  display: inline-block;
  width: 100%;
  max-width: 28rem;
  padding: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;
  text-align: left;
  vertical-align: middle;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transform: none;
  background-color: #fff;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}

.title {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgb(17, 24, 39);
}

.p {
  font-size: 0.875rem;
  color: rgb(107, 114, 128);
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgb(59, 130, 246);
  background-color: rgb(219, 234, 254);
  border-width: 0px;
  border-style: solid;
  border-color: transparent;
  border-radius: 0.375rem;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn:hover {
  background-color: rgb(191, 219, 254);
}

.btn:focus {
  outline: 0px solid transparent;
}

.btn:focus-visible {
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
  border-color: transparent;
  outline: 0px solid transparent;
}

.App-counter {
  font-size: 3rem;
}

.App-wrap {
  display: flex;
}

.App-button {
  display: flex;
  margin: 5px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: transparent;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}

.App-arr {
  color: red;
  font-size: 1.5rem;
}

.red {
  color: red;
}

.green {
  color: green;
}

li {
  text-align: start;
  font-size: 1.5rem;
  color: rgb(249, 157, 147);
}

input {
  width: 30%;
  height: 2rem;
  font-size: 1.75rem;
  padding: 0 10px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
